<%= form_for(@faq) do |f| %>
  <dl>
  <dt><%= f.label :position %>:</dt>
    <dd><%= f.text_field :position, :size => 4 %></dd>
  <dt><%= f.label :title %>:</dt>
    <dd><%= f.text_field :title %></dd>
  <dt><%= f.label :content %>:</dt>
    <dd><%= f.text_area :content %></dd>
  </dl>
  <p class="submit">
    <%= f.submit %>
  </p>
<% end %>
