<%= form_for(@faq) do |f| %>
  <dl>
  <dt><%= f.label :position %>:</dt>
    <dd><%= f.text_field :position, :size => 4 %></dd>
  <dt><%= f.label :summary %>:</dt>
    <dd><%= f.text_field :summary %></dd>
  <dt><%= f.label :content %>:</dt>
    <dd><%= f.text_area :content %></dd>
  </dl>
  <p>
    <%= f.submit %>
  </p>
<% end %>
