<% if params[:by_vote] %>
  <%= link_to "Sort by position", faqs_path(params.merge :by_vote => false) %>
<% else %>
  <%= link_to "Sort by vote count", faqs_path(params.merge :by_vote => true) %>
<% end %>
<ul>
<% @faqs.each_with_index do |faq, i| %>
  <li>
    <%= i + 1 %>: <%= link_to faq.title, faq%> (<%= faq.vote_count %>)
  </li>
<% end %>
</ul>
