<h1><%= @faq.sanitized_summary %> (<%= @faq.vote_count %> votes)</h1>

<blockquote><%= @faq.sanitized_content %></blockquote>

<%= form_for(@faq) do %>
  <p><%= submit_tag "This FAQ answered my question" %></p>
<% end %>

<%= form_for(@faq) do %>
  <% if current_user.try(:support_admin?) %>
    <%= label_tag :reason %>
    <%= text_field_tag :reason, nil, :size => 100 %>
    <%= submit_tag "Reopen for comments" %>
  <% end %>
<% end %>
