<%= form_for(@faq) do |f| %>
  <% if current_user.try(:support_admin?) %>
    <p class="submit"><%= f.submit "Post" %></p>
  <% end %>
    <%= link_to "Edit title or content", edit_faq_path(@faq) %>
  <p><%= @faq.title %></p>
  <%= raw @faq.content %>

  <%= f.fields_for :faq_details do |d| %>
    <% if d.object.new_record? %>
      <%= d.hidden_field :support_identity_id, :value => current_user.support_identity.id %>
      <dt><%= d.label :support_response, "Answer officially?" %>:</dt>
        <dd><%= d.check_box :support_response %></dd>
      <dt><%= d.label :content, "Add comment" %>:</dt>
        <dd><%= d.text_area :content %></dd>
    <% else %>
      <dt><%= d.object.byline %> <%= "wrote" %>:</dt>
        <dd><%= raw d.object.content %></dd>
    <% end %>
  <% end %>
  <p class="submit"><%= f.submit %></p>
<% end %>
