Votes: <%= @faq.vote_count %>
<% if current_user.try(:support_admin?) %>
  <%= form_for(@faq) do |f| %>
    <p class="submit"><%= f.submit "Unpost" %></p>
  <% end %>
<% end %>
<p><%= @faq.title %></p>
<%= raw @faq.content %></dd>
<%= form_for(@faq) do |f| %>
  <p class="submit"><%= f.submit "This FAQ answered my question" %></p>
<% end %>
