<%= render "show" %>
<%= form_for(@faq) do %>
  <dt><%= label_tag :content, "Details" %>:</dt>
    <dd><%= text_area_tag :content %></dd>
  <p class="submit">
    <%= submit_tag "Add details" %>
    <% if @faq.watched?(session[:authentication_code]) %>
      <%= submit_tag "Don't watch this FAQ" %>
    <% else %>
      <%= submit_tag "Watch this FAQ"%>
    <% end %>
  </p>
<% end %>
