<%= form_for(@release_note) do |t| %>
  <dl>
    <dt><%= t.label :version %>:</dt>
      <dd><%= t.text_field :version %></dd>
   <dt><%= t.label :content %>:</dt>
      <dd><%= t.text_field :content %></dd>
 </dl>
  <p class="submit">
    <%= t.submit %>
  </p>
<% end %>
