<h1><%= @user.login %>'s page</h1>
<% if @user.support_identity_id %>
  Support info for <%= @user.support_identity.name %>
  <ul>
  <li>
    <%= link_to "Support tickets opened by #{@user.login}",
                user_support_tickets_path(@user) %>
  </li>
  <li>
    <%= link_to "Support tickets commented on by #{@user.login}",
                user_support_tickets_path(@user, :comments => true) %>
    <% if @accepted %>
     (<%= @accepted %> accepted)
    <% end %>
  </li>
  <% if @user == current_user %>
    <li>
      <%= link_to "Support tickets I am watching",
                  user_support_tickets_path(@user, :watching => true) %>
    </li>
    <li>
      <%= link_to "Code tickets I am watching",
                  user_code_tickets_path(@user, :watching => true) %>
    </li>
  <% end %>
  <li>
    <%= link_to "Code tickets voted up by #{@user.login}",
                user_code_tickets_path(@user, :votes => true) %>
  </li>
  <li>
    <%= link_to "Code tickets commented on by #{@user.login}",
                user_code_tickets_path(@user, :comments => true) %>
  </li>
  <% if @user.support_identity.official %>
    <li>
      <%= link_to "Taken Support Tickets",
                  user_support_tickets_path(@user, :support => true, :status => "taken") %>
    </li>
    <li>
      <%= link_to "Waiting Support Tickets",
                  user_support_tickets_path(@user, :support => true, :status => "waiting") %>
    </li>
    <li>
      <%= link_to "Answered Support Tickets",
                  user_support_tickets_path(@user, :support => true, :status => "closed") %>
    </li>
    <li>
      <%= link_to "My Open Code Tickets",
                  user_code_tickets_path(@user) %>
    </li>
    <li>
    <%= link_to "My Closed Code Tickets",
                user_code_tickets_path(@user, :status => "closed") %>
    </li>
  <% end %>
  </ul>
<% end %>
