<h1>Welcome!</h1>
<p>This is the demo for the AO3 support board <a href="https://github.com/otwcode/otwsupport">code</a>.</p>
<p>Support Board <a href="https://github.com/otwcode/otwsupport/tree/master/features/">features</a>
and <a href="https://github.com/otwcode/otwsupport/tree/master/test/unit/"> unit tests</a> using fixtures created using the seed data created from <a href="https://github.com/otwcode/otwsupport/raw/master/db/demo_seeds.rb">demo_seeds</a>
</p>
<p>
Log in as any of the following (password: secret) or <%= link_to "create a new user", new_user_path %> and click <%= link_to 'Support Board', support_path %> here or in the header to get started
<h2>users</h2>
<ul>
  <% @users.each do |user| %>
    <li><%= user.login %></li>
  <% end %>
</ul>
<h2>volunteers</h2>
<ul>
  <% @volunteers.each do |user| %>
    <li><%= user.login %></li>
  <% end %>
</ul>
<h2>support admins</h2>
<ul>
  <% @support_admins.each do |user| %>
    <li><%= user.login %></li>
  <% end %>
</ul>
