<h1>Welcome!</h1>
<h2>users</h2>
<ul>
  <li><%= link_to "dean", User.find_by_login("dean") %></li>
  <li><%= link_to "john", User.find_by_login("john") %></li>
</ul>
<h2>volunteers</h2>
<ul>
  <li><%= link_to "sam", User.find_by_login("sam") %></li>
  <li><%= link_to "rodney", User.find_by_login("rodney") %></li>
</ul>
<h2>support admin</h2>
<ul>
  <li><%= link_to "bofh", User.find_by_login("bofh") %></li>
</ul>
all passwords are "secret"
