<% unless current_user %>
  <%= form_for(SupportTicket.new) do %>
    <p class="submit">
      <%= text_field_tag :email %>
      <%= submit_tag "Send me access links to my support tickets" %>
    </p>
  <% end %>
<% end %>
<ul>
  <li><%= link_to "Open a New Support Ticket", new_support_ticket_path %>
  <li><%= link_to "Comments", support_tickets_path(:status => "posted") %>
  <li><%= link_to "Frequently Asked Questions", faqs_path %></li>
  <li><%= link_to "Release Notes", deploy_notes_path %></li>
  <li><%= link_to "Open Code Tickets (Known Issues)", code_tickets_path %>
  <% if current_user %>
    <li><%= link_to "Open Support Tickets", support_tickets_path %>
  <% end %>
  <% if current_user.try(:support_volunteer?) %>
    <li><%= link_to "Support tickets requiring Admin attention", support_tickets_path(:status => "admin") %>
    <li><%= link_to "Support Tickets in progress", support_tickets_path(:status => "taken") %>
    <li><%= link_to "Support Tickets waiting for Code changes", support_tickets_path(:status => "waiting") %>
    <li><%= link_to "Closed Support Tickets", support_tickets_path(:status => "closed") %>
    <li><%= link_to "Spam Support Tickets", support_tickets_path(:status => "spam") %>

    <li><%= link_to "Unposted FAQs", faqs_path(:unposted => true) %></li>

    <li><%= link_to "New Code Ticket", new_code_ticket_path %></li>
    <li><%= link_to "Taken Code Tickets", code_tickets_path(:status => "taken") %></li>
    <li><%= link_to "Committed Code Tickets", code_tickets_path(:status => "committed") %></li>
    <li><%= link_to "Staged Code Tickets", code_tickets_path(:status => "staged") %></li>
    <li><%= link_to "Verified Code Tickets", code_tickets_path(:status => "verified") %></li>
    <li><%= link_to "Closed Code Tickets", code_tickets_path(:status => "closed") %></li>
  <% end %>
  <% if current_user.try(:support_admin?) %>
    <%= form_tag '/code_tickets' do %>
      <p>
        <%= label_tag :stage_revision %>
        <%= text_field_tag :stage_revision %>
      </p>
      <p class="submit">
        <%= submit_tag "Stage Committed Code Tickets" %>
        <%= submit_tag "Deploy Verified Code Tickets" %>
      </p>
    <% end %>
  <% end %>
</ul>
