<% unless current_user %>
  <%= form_for(SupportTicket.new) do %>
    <p class="submit">
      <%= text_field_tag :email %>
      <%= submit_tag "Send me access links to my support tickets" %>
    </p>
  <% end %>
<% end %>
<ul>
  <li><%= link_to "Open a New Ticket", new_support_ticket_path %>
  <li><%= link_to "Open Support Tickets", support_tickets_path %>
  <li><%= link_to "Code Tickets", code_tickets_path %>
  <li><%= link_to "Archive FAQ", archive_faqs_path %></li>
  <li><%= link_to "Known Issues", known_issues_path %></li>
  <li><%= link_to "Coming Soon", admin_posts_path(:coming_soon=>true) %></li>
  <li><%= link_to "Release Notes", admin_posts_path(:release_notes=>true) %></li>
</ul>
