<p>A support ticket has been updated: <%= link_to(@ticket.name, support_ticket_path(@ticket, :only_path => false, :authentication_code => @ticket.authentication_code)) %></p>
<%=raw @ticket.summary %>
<% @details.each do |detail| %>
  <% if detail.resolved_ticket? %>
    <dt>Answered by <%= detail.byline %>:</dt>
  <% else %>
    <dt><%= detail.byline %> wrote:</dt>
  <% end %>
      <dd><%= raw detail.content %></dd>
<% end %>
