<p><%= link_to(@ticket.name, @url) %> has been updated.</p>
<%=raw @ticket.summary %>
<% @details.each do |detail| %>
  <% if detail.resolved_ticket? %>
    <dt><%= detail.byline %> (accepted):</dt>
  <% else %>
    <dt><%= detail.byline %></dt>
  <% end %>
      <dd><%= raw detail.content %></dd>
<% end %>
