<strong><%= @commit.name %></strong>
<p><%= @commit.byline %> (<%= @commit.pushed_at %>)<p>
<blockquote><%= @commit.message %></blockquote>
<%= link_to "commit details on github", @commit.url %>
<% if current_user.try(:support_admin?) %>
  <%= form_for(@commit) do %>
    <% if @commit.current_state.events[:unmatch] %>
      <%= submit_tag "Unmatch" %>
    <% elsif @commit.current_state.events[:match] %>
      <%= select_tag :code_ticket_id, '<option></option>'.html_safe +
                   options_from_collection_for_select(CodeTicket.for_commit, "id", "summary") %>
      <%= submit_tag "Match" %>
    <% end %>
  <% end %>
<% end %>
<% if @commit.code_ticket_id %>
  <%= render :partial => "code_tickets/blurb", :locals => { :ticket => ticket }  %>
<% end %>

