<%= form_for(@ticket) do |t| %>
  <p><%= t.text_field :summary %> <%= t.label :summary %></p>
  <% if @add_details %>
    <p><%= label_tag :details %>:</p>
    <p><%= text_area_tag :content %></p>
  <% end %>
  <p><%= t.text_field :url %> <%= t.label :url %></p>
  <p><%= t.text_field :browser %> <%= t.label :browser %></p>
  <p><%= t.submit %></p>
<% end %>
