<h1><%= link_to_unless_current @ticket.name, @ticket %></h1>
<%= render :partial => "blurb", :locals => { :ticket => @ticket }  %>

<% unless @ticket.url.blank? %>
  url: <%= link_to @ticket.url, @ticket.url %>
<% end %>

<% unless @ticket.browser.blank? %>
  browser: <%= @ticket.browser %>
<% end %>

<% @details.each do |detail| %>
  <%= render :partial => "details/blurb", :locals => { :detail => detail }  %>
<% end %>

<% @ticket.code_commits.each do |commit| %>
  <h2><%= link_to commit.name, commit %></h2>
  <%= render :partial => "code_commits/blurb", :locals => { :commit => commit }  %>
<% end %>
