<%= form_for(@ticket) do |t| %>
  <p><%= t.text_field :summary, :size => 100 %> <%= t.label :summary %></p>
  <p><%= t.text_field :url, :size => 100 %> <%= t.label :url %></p>
  <p><%= t.text_field :browser, :size => 100 %> <%= t.label :browser %></p>
  <p><%= t.submit %></p>
<% end %>
