<%= form_for(@ticket) do |t| %>
  <dl>
    <dt><%= t.label :summary %>:</dt>
      <dd><%= t.text_field :summary %></dd>
   <dt><%= t.label :description %>:</dt>
      <dd><%= t.text_field :description %></dd>
    <dt><%= t.label :url %>:</dt>
      <dd><%= t.text_field :url %></dd>
   <dt><%= t.label :browser %>:</dt>
      <dd><%= t.text_field :browser %></dd>
 </dl>
  <p class="submit">
    <%= t.submit %>
  </p>
<% end %>

<%= render "show" %>

<p>Related Support tickets</p>
<% @ticket.support_tickets.each do |t| %>
  <%= link_to t.name, t %>
<% end %>
