<% if current_user.support_admin? %>
  <%= link_to "Edit", edit_code_ticket_path(@ticket) %>
<% end %>

<%= render "show" %>

<dl>
  <dt>url:</dt>
    <dd><%= @ticket.url %></dd>
 <dt>browser:</dt>
    <dd><%= @ticket.browser %></dd>
<% if @ticket.support_tickets.count > 0 %>
  <dt>Related Support tickets:</dt>
  <dd>
  <% @ticket.support_tickets.each do |support_ticket| %>
    <%= link_to support_ticket.id, support_ticket %>
  <% end %>
  </dd>
<% end %>
</dl>

<%= form_for(@ticket) do %>
  <% if @add_details %>
    <% if @ticket.unowned? %>
      <dt><%= label_tag :unofficial, "Unofficial response?" %></dt>
        <dd><%= check_box_tag :unofficial %></dd>
    <% end %>
    <dt><%= label_tag :content, "Details" %>:</dt>
      <dd><%= text_area_tag :content %></dd>
    <p class="submit">
      <%= submit_tag "Add details" %>
    </p>
  <% end %>
  <p class="submit">
    <% if !@ticket.closed? %>
      <% unless @ticket.voted? %>
        <%= submit_tag "Vote up" %>
      <% end %>
      <% if @ticket.watched? %>
        <%= submit_tag "Don't watch this ticket" %>
      <% else %>
        <%= submit_tag "Watch this ticket"%>
      <% end %>
    <% end %>
    <% if @ticket.current_state.events.include?(:reopen) %>
      <%= label_tag :reason %>
      <%= text_field_tag :reason %>
      <%= submit_tag "Reopen" %>
    <% end %>
    <% if @ticket.current_state.events.include?(:reject) %>
      <%= label_tag :reason %>
      <%= text_field_tag :reason %>
      <%= submit_tag "Reject" %>
    <% end %>
    <% if @ticket.current_state.events.include?(:take) %>
      <%= submit_tag "Take" %>
    <% end %>
    <% if @ticket.current_state.events.include?(:steal) && @ticket.not_mine? %>
      <%= submit_tag "Steal" %>
    <% end %>
    <% if @ticket.current_state.events.include?(:duplicate) %>
      <%= label_tag :code_ticket_id, "Code Ticket" %>
      <%= select_tag :code_ticket_id,
                     options_from_collection_for_select(CodeTicket.not_closed, "id", "id") %>
      <%= submit_tag "Dupe" %>
    <% end %>
    <% if @ticket.current_state.events.include?(:verify) %>
      <%= submit_tag "Verify" %>
    <% end %>
  </p>
<% end %>
