<%= form_for(@ticket) do |t| %>
  <p class="submit"><%= t.submit (@ticket.pseud ? "Untake" : "Take") %></p>
  <p>
    <% if @ticket.being_watched?(current_user) %>
      <%= t.check_box :turn_off_notifications %>
      <%= t.label :turn_off_notifications, "Turn off notifications"%>
    <% else %>
      <%= t.check_box :turn_on_notifications %>
      <%= t.label :turn_on_notifications, "Turn on notifications"%>
    <% end %>
  </p>
  <dl>
    <dt><%= t.label :code_ticket_id, "Code Ticket" %>:</dt>
      <dd><%= t.select :code_ticket_id, CodeTicket.where(:resolved => false).collect {|p| [ p.name, p.id ] }, :selected => @ticket.code_ticket_id %></dd>
    <% if @ticket.code_ticket_id? %>
      <%= t.submit "Not a dupe" %>
    <% else %>
      <%= t.submit "Dupe" %>
    <% end %>
    <dt><%= "Status" %>:</dt>
      <dd><%= @ticket.status_line %>
        <% if @ticket.code_ticket_id %>
            <%= link_to @ticket.code_ticket.name, @ticket.code_ticket %>
        <% end %>
      </dd>
    <dt><%= "Votes" %>:</dt>
      <dd><%= @ticket.vote_count %></dd>
    <% unless @ticket.resolved %>
      <dt><%= t.label :vote_up %>:</dt>
        <dd>
          <%= t.check_box :vote_up %>
        </dd>
    <% end %>

    <dt><%= "Summary" %>:</dt>
      <dd><%= raw @ticket.summary %></dd>

    <%= t.fields_for :code_details do |d| %>
      <% if d.object.new_record? %>
        <dt><%= d.label :pseud_id, "Pseud" %>:</dt>
          <dd><%= d.select :pseud_id, current_user.pseuds.collect {|p| [ p.name, p.id ] }, :selected => current_user.support_pseud.id %></dd>
        <dt><%= d.label :content, "Add details" %>:</dt>
          <dd><%= d.text_area :content %></dd>
      <% else %>
        <% if d.object.resolved_ticket? %>
          <dt><%= "Answered by" %> <%= d.object.byline %>:</dt>
        <% else %>
          <dt><%= d.object.byline %> <%= "wrote" %>:</dt>
        <% end %>
            <dd><%= raw d.object.content %></dd>
      <% end %>
    <% end %>

 </dl>
  <p class="submit">
    <%= t.submit %>
  </p>
<% end %>

<p>Related Support tickets</p>
<% @ticket.support_tickets.each do |t| %>
  <%= link_to t.name, t %>
<% end %>
