<p>
  <%= ticket.sanitized_summary %>
  <%= ticket.parens %>
  [<%= ticket.status_line %><% if ticket.release_note %>
  <%= link_to ticket.release_note.release, ticket.release_note %><% elsif ticket.code_ticket_id %>
  <%= link_to ticket.code_ticket.sanitized_summary, ticket.code_ticket %><% end %><% if ticket.faq_id %>
  <%= link_to ticket.faq.sanitized_summary, ticket.faq %><% end %>]
</p>
