<%= form_for(@ticket) do |t| %>
  <p class="submit"><%= t.submit (@ticket.pseud == current_user.support_pseud ? "Untake" : "Take") %></p>
  <p>
    <% if @ticket.being_watched?(current_user) %>
      <%= t.check_box :turn_off_notifications %>
      <%= t.label :turn_off_notifications, "Turn off notifications"%>
    <% else %>
      <%= t.check_box :turn_on_notifications %>
      <%= t.label :turn_on_notifications, "Turn on notifications"%>
    <% end %>
  </p>
  <% unless @ticket.private %>
    <p>
      <%= t.check_box :private %>
      <%= t.label :private, "Private. (Ticket will only be visible to owner and official Support volunteers. This cannot be undone.)"%>
    </p>
  <% end %>
  <dl>
    <% if @ticket.display_user_name %>
      <dt><%= "User" %>:</dt>
        <dd><%= link_to @ticket.user.login, @ticket.user %></dd>
    <% end %>
    <dt><%= "Access" %>:</dt>
      <dd><%= @ticket.private? ? "Private" : "Public" %>
    <dt><%= "Status" %>:</dt>
      <dd><%= @ticket.pseud_id ? (@ticket.resolved? ? "Closed" : "Being worked") + " by support volunteer " + @ticket.pseud.name : "Open" %></dd>
    <dt><%= "Category" %>:</dt>
      <dd><%= @ticket.category || "Uncategorized" %>
    <dt><%= t.label :category %>:</dt>
      <dd>
        <%= t.radio_button :category, 'Question' %><%= t.label :category, 'Question', :value => 'question' %>
        <%= t.radio_button :category, 'Problem' %><%= t.label :category, 'Problem', :value => 'problem' %>
        <%= t.radio_button :category, 'Suggestion' %><%= t.label :category, 'Suggestion', :value => 'suggestion' %>
        <%= t.radio_button :category, 'Kudo' %><%= t.label :category, 'Kudo', :value => 'kudo' %>
      </dd>
    <dt><%= "Summary" %>:</dt>
      <dd><%= raw @ticket.summary %></dd>

    <%= t.fields_for :support_details do |d| %>
      <% if d.object.new_record? %>
        <dt><%= d.label :pseud_id, "Pseud (Will be visible). If you don't use your support pseud, this comment will not be marked official" %>:</dt>
          <dd><%= d.select :pseud_id, current_user.pseuds.collect {|p| [ p.name, p.id ] }, :selected => current_user.support_pseud.id %></dd>
        <dt><%= d.label :content, "Add details" %>:</dt>
          <dd><%= d.text_area :content %></dd>
      <% else %>
        <% if d.object.resolved_ticket? %>
          <dt><%= "Answered by" %> <%= d.object.byline %>:</dt>
        <% else %>
          <dt><%= d.object.byline %> <%= "wrote" %>:</dt>
        <% end %>
            <dd><%= raw d.object.content %></dd>
      <% end %>
    <% end %>

  </dl>
  <p class="submit">
    <%= t.submit %>
  </p>
<% end %>
