<%= form_for(@ticket) do |t| %>
  <p>
    <% if @ticket.being_watched?(current_user) %>
      <%= t.check_box :turn_off_notifications %>
      <%= t.label :turn_off_notifications, "Turn off notifications"%>
    <% else %>
      <%= t.check_box :turn_on_notifications %>
      <%= t.label :turn_on_notifications, "Turn on notifications"%>
    <% end %>
  </p>
  <% unless @ticket.private %>
    <p>
      <%= t.check_box :private %>
      <%= t.label :private, "Private. (Ticket will only be visible to official Support volunteers)"%>
    </p>
  <% end %>
  <dl>
    <dt><%= "Access" %>:</dt>
      <dd><%= @ticket.private? ? "Private" : "Public" %>
    <dt><%= "Status" %>:</dt>
      <dd><%= @ticket.resolved? ? "Resolved" : @ticket.pseud_id ? "Being worked on by support volunteer " + @ticket.pseud.name : "Open" %>
    <dt><%= "Category" %>:</dt>
      <dd><%= @ticket.category || "Uncategorized" %>
    <dt><%= "Summary" %>:</dt>
      <dd><%= raw @ticket.summary %></dd>

    <%= t.fields_for :support_details do |d| %>
      <% if current_user %>
        <dt><%= d.label :pseud_id, "Pseud (Will not be visible)" %>:</dt>
          <dd><%= d.select :pseud_id, current_user.pseuds.collect {|p| [ p.name, p.id ] }%></dd>
      <% end %>
      <% if d.object.new_record? %>
        <dt><%= d.label :content, "Add details" %>:</dt>
          <dd><%= d.text_area :content %>
      <% else %>
        <dt><%= "I" %> <%= "wrote" %>:
        </dt>
          <dd><%= raw d.object.content %></dd>
        <dt></dt>
          <dd><%= d.check_box :resolved_ticket %> <%= d.label :resolved_ticket, "This answer resolves my issue" %></dd>
      <% end %>
    <% end %>

  </dl>
  <p class="submit">
    <%= t.submit %>
  </p>
<% end %>
