<% if current_user.support_volunteer? %>
  <dl>
    <% if current_user.support_admin? %>
      <dt>authenticity_token:</dt>
        <dd><%= @ticket.authenticity_token %></dd>
      <dt>user agent:</dt>
        <dd><%= @ticket.user_agent %></dd>
      <dt>remote IP:</dt>
        <dd><%= @ticket.ip_address %></dd>
    <% end %>
    <dt>referring url:</dt>
      <dd><%= @ticket.url %></dd>
  </dl>
  <%= link_to "Edit", edit_support_ticket_path(@ticket) %>
<% end %>

<%= render "show" %>

<%= form_for(@ticket) do %>
  <% if @add_details %>
    <% if @ticket.unowned? %>
      <dt><%= label_tag :official, "Official response?" %></dt>
        <dd><%= check_box_tag :official, true, true %></dd>
    <% else %>
      <%= hidden_field_tag :official, true %>
    <% end %>
    <dt><%= label_tag :content, "Details" %>:</dt>
      <dd><%= text_area_tag :content %></dd>
    <p class="submit">
      <%= submit_tag "Add details" %>
    </p>
  <% end %>
  <p class="submit">
    <% unless @ticket.private? %>
      <%= submit_tag "Make private"%> (Ticket will only be visible to owner and official Support volunteers. This cannot be undone.)
    <% end %>
    <% if @ticket.watched? %>
      <%= submit_tag "Don't watch this ticket" %>
    <% else %>
      <%= submit_tag "Watch this ticket"%>
    <% end %>
    <% if @ticket.current_state.events.include?(:reopen) %>
      <%= label_tag :reason %>
      <%= text_field_tag :reason %>
      <%= submit_tag "Reopen" %>
    <% end %>
    <% if @ticket.current_state.events.include?(:spam) %>
      <%= submit_tag "Mark as spam" %>
    <% end %>
    <% if @ticket.current_state.events.include?(:ham) %>
      <%= submit_tag "Mark as ham" %>
    <% end %>
    <% if @ticket.current_state.events.include?(:post) %>
      <%= submit_tag "Post as comment" %>
    <% end %>
    <% if @ticket.current_state.events.include?(:take) %>
      <%= submit_tag "Take" %>
    <% end %>
    <% if @ticket.current_state.events.include?(:take) && @ticket.not_mine? %>
      <%= label_tag :support_identity_id, "Support Volunteers" %>
      <%= select_tag :support_identity_id,
                     options_from_collection_for_select(SupportIdentity.official, "id", "name") %>
      <%= submit_tag "Send request to take" %>
    <% end %>
    <% if @ticket.current_state.events.include?(:steal) && @ticket.not_mine? %>
      <%= submit_tag "Steal" %>
    <% end %>
    <% if @ticket.current_state.events.include?(:needs_admin) %>
      <%= submit_tag "Needs admin attention" %>
    <% end %>
    <% if current_user.support_admin? && @ticket.current_state.events.include?(:resolve) %>
      <%= label_tag :resolution %>
      <%= text_field_tag :resolution %>
      <%= submit_tag "Resolve" %>
    <% end %>
    <% if @ticket.current_state.events.include?(:needs_fix) %>
      <%= label_tag :code_ticket_id, "Code Ticket" %>
      <%= select_tag :code_ticket_id,
                     options_from_collection_for_select(CodeTicket.not_closed, "id", "id") %>
      <%= submit_tag "Needs this fix" %>
      <%= submit_tag "Create new code ticket" %>
    <% end %>
    <% if @ticket.current_state.events.include?(:answer) %>
      <%= label_tag :faq_id, "FAQ" %>
      <%= select_tag :faq_id,
                     options_from_collection_for_select(Faq.all, "id", "name") %>
      <%= submit_tag "Answered by this FAQ" %>
      <%= submit_tag "Create new FAQ" %>
    <% end %>
  </p>
<% end %>
