<% if current_user && current_user.support_volunteer? %>
  <%= link_to "view ticket as support volunteer", support_ticket_path(@ticket, :support => true) %>
<% end %>

<h1><%= @ticket.name %></h1>
<%= render "show" %>

<%= form_for(@ticket) do %>
  <%= hidden_field_tag :authentication_code, session[:authentication_code] %>
  <% if @add_details %>
    <p><%= text_area_tag :content, nil, :size => "72x10" %></p>
    <% if current_user.try(:support_volunteer?) %>
      <p>
      <%= radio_button_tag :response, 'official', false %><%= label_tag :response_official, 'official' %>
      <%= radio_button_tag :response, 'unofficial', true %><%= label_tag :response_unofficial, 'unofficial' %>
      <%= radio_button_tag :response, 'private', false %><%= label_tag :response_private, 'private (and official)' %>
    </p>
    <% end %>
    <p><%= submit_tag "Add details" %></p>
  <% end %>
  <% if !@ticket.closed? && @ticket.support_details.written_comments.visible_to_all.count > 0 %>
    <%= label_tag :support_detail_id, "Support Detail" %>
        <%= select_tag :support_detail_id,
                       options_from_collection_for_select(@ticket.support_details.written_comments.visible_to_all, "id", "info") %>
        <%= submit_tag "This answer resolves my issue" %>
  <% end %>
  <% unless @ticket.private? %>
    <%= submit_tag "Make private"%> (Ticket will only be visible to owner and official Support volunteers. This cannot be undone.)
  <% end %>
  <% if current_user %>
    <%= submit_tag @ticket.anonymous? ? "Display my user name" : "Hide my user name"%>
  <% end %>
  <% if @ticket.watched?(session[:authentication_code]) %>
    <%= submit_tag "Don't watch this ticket" %>
  <% else %>
    <%= submit_tag "Watch this ticket"%>
  <% end %>
  <% if @ticket.current_state.events.include?(:reopen) %>
    <%= label_tag :reason %>
    <%= text_field_tag :reason, nil, :size => 100 %>
    <%= submit_tag "Reopen" %>
  <% end %>
<% end %>
