<%= render "show" %>

<%= form_for(@ticket) do |t| %>
  <% if @add_details %>
    <% if @ticket.unowned? %>
      <dt><%= label_tag :unofficial, "Unofficial response?" %></dt>
        <dd><%= check_box_tag :unofficial %></dd>
    <% end %>
    <dt><%= label_tag :content, "Details" %>:</dt>
      <dd><%= text_area_tag :content %></dd>
    <p class="submit">
      <%= submit_tag "Add details" %>
    </p>
  <% end %>
  <% if @ticket.watched? %>
    <%= submit_tag "Don't watch this ticket" %>
  <% else %>
    <%= submit_tag "Watch this ticket"%>
  <% end %>
<% end %>
