<h1><%= @ticket.name %></h1>
<%= render "show" %>

<%= form_for(@ticket) do |t| %>
  <% if @add_details %>
    <p><%= text_area_tag :content, nil, :size => "72x10" %></p>
    <p><%= submit_tag "Add details" %></p>
  <% end %>
  <% if @ticket.watched? %>
    <%= submit_tag "Don't watch this ticket" %>
  <% else %>
    <%= submit_tag "Watch this ticket"%>
  <% end %>
<% end %>
