<% if current_user && current_user.support_volunteer? %>
  <%= link_to "view ticket as support volunteer", support_ticket_path(@ticket, :support => true) %>
<% end %>
<%= render "show" %>

<%= form_for(@ticket) do |t| %>
  <%= hidden_field_tag :authentication_code, session[:authentication_code] %>
  <%= hidden_field_tag :email, @ticket.email %>
  <% if @add_details %>
    <dt><%= label_tag :content, "Details" %>:</dt>
      <dd><%= text_area_tag :content %></dd>
    <p class="submit">
      <%= submit_tag "Add details" %>
    </p>
  <% end %>
  <% unless @ticket.closed? %>
    <%= label_tag :support_detail_id, "Support Detail" %>
        <%= select_tag :support_detail_id,
                       options_from_collection_for_select(@ticket.support_details, "id", "byline") %>
        <%= submit_tag "This answer resolves my issue" %>
  <% end %>
  <% unless @ticket.private? %>
    <%= submit_tag "Make private"%> (Ticket will only be visible to owner and official Support volunteers. This cannot be undone.)
  <% end %>
  <% if current_user %>
    <%= submit_tag @ticket.anonymous? ? "Display my user name" : "Hide my user name"%>
  <% end %>
  <% if @ticket.watched?(@ticket.email) %>
    <%= submit_tag "Don't watch this ticket" %>
  <% else %>
    <%= submit_tag "Watch this ticket"%>
  <% end %>
  <% if @ticket.current_state.events.include?(:reopen) %>
    <%= label_tag :reason %>
    <%= text_field_tag :reason %>
    <%= submit_tag "Reopen" %>
  <% end %>
<% end %>
