<% if @ticket.user == current_user %>
  <%= link_to "view ticket as owner", support_ticket_path(@ticket) %>
<% end %>

<% if current_user.support_admin? %>
    <dt>authenticity token:</dt>
      <dd><%= @ticket.authenticity_token %></dd>
    <dt>remote IP:</dt>
      <dd><%= @ticket.ip_address %></dd>
    <dt>user agent:</dt>
      <dd><%= @ticket.browser_hash %></dd>
    <dt>referring url:</dt>
      <dd><%= link_to @ticket.url, @ticket.url %></dd>
  </dl>
<% end %>

<%= render "show" %>

<%= form_for(@ticket) do %>
  <% if @add_details %>
    <p><%= text_area_tag :content, nil, :size => "72x10" %></p>
    <% if @ticket.unowned? %>
      <p><%= check_box_tag :official, true, true %> <%= label_tag :official, "Official details?" %></p>
    <% else %>
      <%= hidden_field_tag :official, true %>
    <% end %>
    <p><%= submit_tag "Add details" %></p>
  <% end %>
  <p>
    <% if @ticket.watched? %>
      <%= submit_tag "Don't watch this ticket" %>
    <% else %>
      <%= submit_tag "Watch this ticket"%>
    <% end %>
  <p>
  <% unless @ticket.private? %>
     <p><%= submit_tag "Make private"%> (Ticket will only be visible to owner and official Support volunteers. This cannot be undone.)</p>
  <% end %>
  <% if @ticket.current_state.events.include?(:reopen) %>
    <p><%= label_tag :reason %>
    <%= text_field_tag :reason, nil, :size => 100 %>
    <%= submit_tag "Reopen" %></p>
  <% end %>
  <% if current_user.support_admin? && @ticket.current_state.events.include?(:resolve) %>
    <p><%= text_field_tag :resolution, nil, :size => 100 %>
    <%= submit_tag "Resolve" %></p>
  <% end %>
  <p>
    <% if @ticket.current_state.events.include?(:spam) && @ticket.user_id.nil? %>
      <%= submit_tag "Mark as spam" %>
    <% end %>
    <% if @ticket.current_state.events.include?(:ham) %>
      <%= submit_tag "Mark as ham" %>
    <% end %>
    <% if @ticket.current_state.events.include?(:post) %>
      <%= submit_tag "Post as comment" %>
    <% end %>
    <% if @ticket.current_state.events.include?(:needs_admin) %>
      <%= submit_tag "Needs admin attention" %>
    <% end %>
  </p>
  <p>
    <% if @ticket.not_mine? %>
      <% if @ticket.current_state.events.include?(:take) %>
        <%= submit_tag "Take" %>
      <% end %>
      <% if @ticket.current_state.events.include?(:steal) %>
        <%= submit_tag "Steal" %>
      <% end %>
    <% end %>
    <% if [:unowned, :taken].include?(@ticket.current_state) %>
      <%= select_tag :support_identity_id,
                   options_from_collection_for_select(SupportIdentity.official, "id", "name") %>
      <%= submit_tag "Send request to take" %>
    <% end %>
  </p>
  <% if @ticket.current_state.events.include?(:needs_fix) %>
    <p><%= select_tag :code_ticket_id,
                   options_from_collection_for_select(CodeTicket.not_closed, "id", "summary") %>
    <%= submit_tag "Needs this fix" %>
    <%= submit_tag "Create new code ticket" %></p>
  <% end %>
  <% if @ticket.current_state.events.include?(:answer) %>
    <p><%= select_tag :faq_id,
                   options_from_collection_for_select(Faq.all, "id", "summary") %>
    <%= submit_tag "Answered by this FAQ" %>
    <%= submit_tag "Create new FAQ" %></p>
  <% end %>
<% end %>
